<footer class="footer-container text-center" style="background-color:#6da5ac;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></span>
        <a href="http://www.facebook.com" title="" class="fa-icon">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="http://www.twitter.com" title="" class="fa-icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="http://www.linkedin.com" title="" class="fa-icon">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
