{% extends "base.html" %}
{% block title %}Works{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies, nisl nunc pulvinar ligula, id sodales arcu sapien in nisi. Quisque libero enim, mattis non augue posuere, venenatis dapibus urna.</p>
        </div>
      </div>

      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide projects-carousel">
          <div class="carousel-inner">
            {% for i in range(0, projects|length, 3) %}
            <div class="item {% if i == 0 %}active{% endif %}">
              <div class="row">
                {% for project in projects[i:i+3] %}
                <div class="col-sm-4">
                  <a href="{{ url_for(project.name + '.index') }}" class="black-image-project-hover">
                    <img src="{{ project.image }}" alt="{{ project.title }}" class="img-responsive">
                  </a>
                  <div class="card-container card-container-lg">
                    <h4>{{ loop.index0 + i + 1 }}/{{ projects|length }}</h4>
                    <h3>{{ project.title }}</h3>
                    <a href="{{ url_for(project.endpoint) }}" class="btn btn-default">Discover</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
